h1,h2,h3{
font-family:inherit;

text-align: center;
}
h1{
  font-size: 45px;
  font-style: italic;
  color: aqua;
}
h2{
  font-size: 30px;
  font-style: oblique;
  color: chocolate;

}
body{
  background-color: rgba(233, 235, 222, 0.363);
}

header{
  position:fixed;
  height: 60px;
  width: 100%;
  line-height:60px;
  background-color: rgba(15, 15, 11, 0.5);
  z-index: 2;
  border-bottom: orangered 20px solid;
}

 li{
display: inline;
padding: 20px;
font-size: 20px;
font-family: inherit;
  font-style: unset;
 }
 .text-right{
  text-align: right;
  
 }
footer{
font-family: inherit;
font-weight: bolder;
background-color: indianred;
border-top: blue 5px dotted;
font-size: 35px;
text-align: left;
}


img {
  z-index: 1;
  border-top: 5px blue solid;
  border-bottom: 5px red solid;
  border-left: 5px yellow dashed;
  border-right: 5px yellow dashed;
  }
  
  #para1{
    text-align: center;
    font: 1em sans-serif;
    font-size: 25px;
  }


  
  contactform{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  }
  

  